/* _content/EurovisionApp.Common/Components/ArmorMusicSheet.razor.rz.scp.css */
.note[b-l5lnnssp2b]
{
    font-size: 20px;
    font-family: Polihymnia;
}

svg[b-l5lnnssp2b] {
    display: block;
    width: 200px;
}
/* _content/EurovisionApp.Common/Components/EurovisionTitle.razor.rz.scp.css */
.eurovision-title[b-3kmq0eo424] {
    text-align: center;
}

.title[b-3kmq0eo424] {
    font-size: 3.5em;
    font-family: Eurovision;
    line-height: normal;
    word-spacing: -1em;
}

.title img[b-3kmq0eo424] {
    position: relative;
    bottom: -0.15em;
    width: 1em;
}

.subtitle[b-3kmq0eo424] {
    font-size: 1em;
    font-family: Gotham Book;
    font-weight: bold;
    text-transform: uppercase;
}
/* _content/EurovisionApp.Common/Pages/ContestantDetails.razor.rz.scp.css */
.title[b-jb8rm7pqpp] {
    display: flex;
    flex-flow: row;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title p[b-jb8rm7pqpp] {
    margin: 0.5em 0;
    font-size: 2em;
    font-weight: bold;
}

[b-jb8rm7pqpp] .title img {
    width: 6em;
}

@media (max-width: 600px) {
    [b-jb8rm7pqpp] .title img {
        display: none;
    }
}

.yt-video[b-jb8rm7pqpp] {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

.yt-video iframe[b-jb8rm7pqpp] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lyrics-header[b-jb8rm7pqpp] {
    background-color: var(--data-box-color);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: bold;
}

.lyrics-title[b-jb8rm7pqpp] {
    font-size: 1.2em;
    font-weight: bold;
}

.lyrics-content[b-jb8rm7pqpp] {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2.5em;
}

.lyrics-content p[b-jb8rm7pqpp] {
    margin: 0 0 1em 0;
}
/* _content/EurovisionApp.Common/Pages/ContestDetails.razor.rz.scp.css */
.title[b-wxfmknxex4] {
    font-size: 1.5rem;
    margin: 20px 0;
}

.data-container[b-wxfmknxex4] {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-content: space-between;
}

.contest-data[b-wxfmknxex4] {
    background-color: var(--data-box-color);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.mensage-cancelation[b-wxfmknxex4] {
    margin: auto;
    font-weight: bold;
}

.logo[b-wxfmknxex4] {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.logo img[b-wxfmknxex4] {
    min-width: 100px;
    max-width: clamp(150px, 40vw, 250px);
    min-height: 100px;
    max-height: 300px;
}
.results[b-wxfmknxex4] {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.results .title[b-wxfmknxex4] {
    margin: 0.5em auto;
    font-size: 2em;
    font-weight: bold;
}

.results .subtitle[b-wxfmknxex4] {
    margin: 0.5em auto;
    font-size: 1.5em;
    font-weight: bold;
}

/*========================== Result table ==========================*/

[b-wxfmknxex4] .quickgrid {
    width: 100%;
    border-spacing: 0px;
    --col-gap: 0;
}

[b-wxfmknxex4] .quickgrid thead {
    background-color: var(--data-box-color);
}

[b-wxfmknxex4] .quickgrid th:not(:last-child) {
  border-right: 2px solid white;
}

[b-wxfmknxex4] .quickgrid .col-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    justify-content: space-between;
    padding: 0.2em 0.4em;
}

[b-wxfmknxex4] .quickgrid tbody tr:nth-child(even) {
  background-color: #dddddd;
}

[b-wxfmknxex4] .quickgrid td {
    padding: 5px 0.2em !important; 
}

a.link[b-wxfmknxex4] {
    display: block;
    width: 100%;
    height: 100%;
}


.place[b-wxfmknxex4] {
    font-weight: bold;
}

.song[b-wxfmknxex4] {

}

.artist[b-wxfmknxex4] {
    margin-top: 2px;
    font-size: 0.9em;
}

.flag[b-wxfmknxex4] {
    height: 1.25em;
}

/*===============================================================*/


@media (max-width:600px) {
    .data-container[b-wxfmknxex4] {
        flex-direction: column;
    }

    [b-wxfmknxex4] .quickgrid{
        --col-gap: 0;
    }
}
/* _content/EurovisionApp.Common/Pages/ContestList.razor.rz.scp.css */
main[b-8jkh0kaqiz] {
    max-width: 1200px;
}

.title[b-8jkh0kaqiz] {
    margin: 20px 0;
    font-family: Eurovision;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

input[b-8jkh0kaqiz] {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 15px 5px 15px;
    font-size: 1.4rem;
    border-radius: 100px;
}

.contest-list[b-8jkh0kaqiz] {
    display: grid;
    margin: 25px 0;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    gap: 25px;
    justify-content: center;
}

.item-card[b-8jkh0kaqiz] {
    padding: 10px;
    background: white;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
}

.item-card:hover[b-8jkh0kaqiz] {
    cursor: pointer;
    box-shadow: 0 0 20px darkblue;
}
/* _content/EurovisionApp.Common/Shared/MainLayout.razor.rz.scp.css */
.loading-container[b-emskss0lbm] {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loading-container img[b-emskss0lbm] {
    width: 70vmin;
    filter: invert(100%);
}

.loading-container .message[b-emskss0lbm] {
    display: flex;
    flex-flow: row;
    gap: 2vmin;
    align-items: center;
    justify-content: center;
}

.loading-container .message p[b-emskss0lbm] {
    margin: 5px 0 0 0;
    font-size: 5vmin;
    font-weight: bold;
}

.loading-container .spinner[b-emskss0lbm] {
    width: 6vmin;
    height: 6vmin;
    border: 0.7vmin solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation-b-emskss0lbm 1s linear infinite;
}

@keyframes rotation-b-emskss0lbm {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
/* _content/EurovisionApp.Common/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-mv5irjltva] {
    --header-size: 70px;

    display: grid;
    grid-template-columns: auto;
    background-color: darkblue;
    color: white;
    font-family: Eurovision;
    font-size: 2em;
}

.navbar *[b-mv5irjltva] {
    color: inherit;
}

.header[b-mv5irjltva] {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    justify-content: space-between;
    height: var(--header-size);
}

.title[b-mv5irjltva] {
    padding: 5px 0px;
    display: flex;
    height: 100%;
}

.title img[b-mv5irjltva] {
    margin: auto;
    min-height: calc(var(--header-size) * 0.6);
    height: 1.75em;
}

/*=================== Navbar Toggler ==================*/

.navbar-toggler[b-mv5irjltva] {
    margin: 15px;
    padding: 2px 10px;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid white;
    border-radius: 0.2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/*========== Burguer Button =========*/

#icon-burguer[b-mv5irjltva] {
    --icon-height: calc(var(--header-size) - 50px);

    position: relative;
    margin: auto;
    width: calc(var(--icon-height) * 1.1);
    height: var(--icon-height);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

#icon-burguer > div[b-mv5irjltva] {
    --line-height: 2px;

    position: relative;
    height: var(--line-height);
    background-color: #fff;
    transition: 0.25s;
    border-radius: var(--line-height);
}

/*============== Burguer Button Animation ================*/

#navbar-toggler-input[b-mv5irjltva] {
    display: none;
}

#navbar-toggler-input:checked ~ #icon-burguer > div[b-mv5irjltva] {
    --offset: calc(calc(var(--icon-height) - var(--line-height)) / 2);
}

#navbar-toggler-input:checked ~ #icon-burguer > div:nth-child(1)[b-mv5irjltva] {
    transform: translateY(var(--offset)) rotate(45deg);
}

#navbar-toggler-input:checked ~ #icon-burguer > div:nth-child(2)[b-mv5irjltva] {
    opacity: 0;
}

#navbar-toggler-input:checked ~ #icon-burguer > div:nth-child(3)[b-mv5irjltva] {
    transform: translateY(calc(var(--offset) / -1)) rotate(-45deg);
}

/*=============================================*/

.navbar-list[b-mv5irjltva] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.link[b-mv5irjltva] {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0.25em 1em;
    background: var(--background-color);
    color: inherit;
    text-decoration: none;
}

.link:hover[b-mv5irjltva] {
    --background-color: #CCCCFF;
    color: black;
}

.link-1[b-mv5irjltva] {
    --background-color: #6600FF;
}

.link-2[b-mv5irjltva] {
    --background-color: #9933FF;
}

.collapse[b-mv5irjltva] {
    display: none;
}

@media (min-width: 500px) {
    .navbar[b-mv5irjltva] {
        display: grid;
        grid-template-columns: 1fr auto auto;
    }

    .header[b-mv5irjltva] {
        display: inherit;
    }

    .navbar-toggler[b-mv5irjltva] {
        display: none;
    }

    .navbar-list[b-mv5irjltva] {
        flex-direction: row;
        font-size: inherit;
    }

    .link[b-mv5irjltva] {
        --border-size: 40px;

        position: relative;
    }

    .link[b-mv5irjltva]::before {
        content: "";
        position: absolute;
        border-left: var(--border-size) solid transparent;
        border-right: 0px solid transparent;
        border-top: var(--header-size) solid var(--background-color);
        left: calc(var(--border-size) * -1);
        top: 0;
    }

    .link:not(:last-of-type)[b-mv5irjltva]::after {
        content: "";
        position: absolute;
        border-right: var(--border-size) solid transparent;
        border-left: 0px solid transparent;
        border-bottom: var(--header-size) solid var(--background-color);
        right: calc(var(--border-size) * -1);
        bottom: 0;
    }

    .link-2[b-mv5irjltva] {
        margin-left: calc(var(--border-size) - 1px);
    }

    .collapse[b-mv5irjltva] {
        display: initial !important;
    }
}



