/* _content/EurovisionApp.Common/Components/EurovisionTitle.razor.rz.scp.css */
.eurovision-title[b-3kmq0eo424] {
    text-align: center;
}

.title[b-3kmq0eo424] {
    font-size: 3.5em;
    font-family: Eurovision;
    line-height: normal;
    word-spacing: -1em;
}

.title img[b-3kmq0eo424] {
    position: relative;
    bottom: -0.15em;
    width: 1em;
}

.subtitle[b-3kmq0eo424] {
    font-size: 1em;
    font-family: Gotham Book;
    font-weight: bold;
    text-transform: uppercase;
}
/* _content/EurovisionApp.Common/Pages/BaseContestList.razor.rz.scp.css */
.title[b-d0r2g9wqrb] {
    margin-bottom: 20px;
    font-family: Eurovision;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

input[b-d0r2g9wqrb] {
    padding: 10px 20px 10px 20px;
    width: calc(100% - 40px);
    font-size: 1.4rem;
    border-radius: 100px;
}

.contest-list[b-d0r2g9wqrb] {
    display: grid;
    margin: 25px 0;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 25px;
    justify-content: center;
}

.item-card[b-d0r2g9wqrb] {
    text-align: center;
    font-size: 1.5rem;
    font-family: Gotham Book;
}

.item-card span[b-d0r2g9wqrb] {
    font-weight: bold;
}

.item-card[b-d0r2g9wqrb] {
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
}

.item-card:hover[b-d0r2g9wqrb] {
    cursor: pointer;
    box-shadow: 0 0 20px darkblue;
}
/* _content/EurovisionApp.Common/Pages/ContestDetails.razor.rz.scp.css */
.title[b-wxfmknxex4] {
    font-size: 1.5rem;
    margin: 20px 0;
}

.data-container[b-wxfmknxex4] {
    display: grid;
    grid-template-columns: minmax(500px, auto) auto;
    align-content: space-between;
}

.contest-data[b-wxfmknxex4] {
    background-color: #c8c7f2;
    border-radius: 20px;
    padding: 10px;
}

.data-entry[b-wxfmknxex4] {
    font-weight: bold;
}

.col-title-text[b-wxfmknxex4] {
    font-size: 1.2em;
    font-weight: bold;
}

.song[b-wxfmknxex4] {

}

.artist[b-wxfmknxex4] {
    font-size: 0.8em;
}

.place[b-wxfmknxex4] {
    font-weight: bold;
}

.flag[b-wxfmknxex4] {
    height: 1.25em;
}
/* _content/EurovisionApp.Common/Pages/ContestList.razor.rz.scp.css */
.title[b-8jkh0kaqiz] {
    margin: 20px 0;
    font-family: Eurovision;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

input[b-8jkh0kaqiz] {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 15px 5px 15px;
    font-size: 1.4rem;
    border-radius: 100px;
}

.contest-list[b-8jkh0kaqiz] {
    display: grid;
    margin: 25px 0;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    gap: 25px;
    justify-content: center;
}

.item-card[b-8jkh0kaqiz] {
    padding: 10px;
    background: white;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
}

.item-card:hover[b-8jkh0kaqiz] {
    cursor: pointer;
    box-shadow: 0 0 20px darkblue;
}
/* _content/EurovisionApp.Common/Pages/SeniorContestList.razor.rz.scp.css */
input[b-hjlmdtvgkq] {
    width: 100%;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

.contest-list[b-hjlmdtvgkq] {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 25px;
    justify-content: center;
}

.item-card[b-hjlmdtvgkq] {
    text-align: center;
    font-size: 1.5rem;
    font-family: Gotham Book;
}

.item-card span[b-hjlmdtvgkq] {
    font-weight: bold;
}
/* _content/EurovisionApp.Common/Shared/MainLayout.razor.rz.scp.css */
main[b-emskss0lbm] {
    margin: 0 20px;
}
/* _content/EurovisionApp.Common/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-mv5irjltva] {
    --header-size: 2em;

    display: grid;
    grid-template-columns: auto;
    background-color: darkblue;
    color: white;
    font-family: Eurovision;
}

.navbar *[b-mv5irjltva] {
    color: inherit;
}

.header[b-mv5irjltva] {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    justify-content: space-between;
    height: var(--header-size);
}

.title[b-mv5irjltva] {
    padding: 5px 0px;
    display: inline-block;
    height: 100%;
}

.title img[b-mv5irjltva] {
    height: 100%;
}

/*=================== Navbar Toggler ==================*/

.navbar-toggler[b-mv5irjltva] {
    margin: 6px;
    padding: 6px;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid white;
    border-radius: 0.2em;
    transition: box-shadow .15s;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/*========== Burguer Button =========*/

.icon-burguer[b-mv5irjltva] {
    --icon-height: calc(var(--header-size) - 1.2em);
    position: relative;
    margin: auto;
    width: calc(var(--icon-height) * 1.5);
    height: var(--icon-height);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.icon-burguer > div[b-mv5irjltva] {
    --line-height: 0.12em;

    position: relative;
    height: var(--line-height);
    background-color: #fff;
    transition: 0.5s;
    border-radius: var(--line-height);
}

/*============== Burguer Button Animation ================*/

#navbar-toggler-input[b-mv5irjltva] {
    display: none;
}

#navbar-toggler-input:checked ~ .icon-burguer > div[b-mv5irjltva] {
    --offset: calc(calc(var(--icon-height) - var(--line-height)) / 2);
}

#navbar-toggler-input:checked ~ .icon-burguer > div:nth-child(1)[b-mv5irjltva] {
    transform: translateY(var(--offset)) rotate(45deg);
}

#navbar-toggler-input:checked ~ .icon-burguer > div:nth-child(2)[b-mv5irjltva] {
    opacity: 0;
}

#navbar-toggler-input:checked ~ .icon-burguer > div:nth-child(3)[b-mv5irjltva] {
    transform: translateY(calc(var(--offset) / -1)) rotate(-45deg);
}

/*=============================================*/

.navbar-list[b-mv5irjltva] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.link[b-mv5irjltva] {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0.25em 1em;
    background: var(--background-color);
    color: inherit;
    text-decoration: none;
}

.link:hover[b-mv5irjltva] {
    --background-color: #CCCCFF;
    color: black;
}

.link-1[b-mv5irjltva] {
    --background-color: #6600FF;
}

.link-2[b-mv5irjltva] {
    --background-color: #9933FF;
}

.collapse[b-mv5irjltva] {
    display: none;
}

@media (min-width: 600px) {
    .navbar[b-mv5irjltva] {
        display: grid;
        grid-template-columns: 1fr auto auto;
    }

    .header[b-mv5irjltva] {
        display: inherit;
    }

    .navbar-toggler[b-mv5irjltva] {
        display: none;
    }

    .navbar-list[b-mv5irjltva] {
        flex-direction: row;
    }

    .link[b-mv5irjltva] {
        --border-size: 1.5em;

        position: relative;
    }

    .link[b-mv5irjltva]::before {
        content: "";
        position: absolute;
        border-left: var(--border-size) solid transparent;
        border-right: 0px solid transparent;
        border-top: var(--header-size) solid var(--background-color);
        left: calc(var(--border-size) * -1);
        top: 0;
    }

    .link:not(:last-of-type)[b-mv5irjltva]::after {
        content: "";
        position: absolute;
        border-right: var(--border-size) solid transparent;
        border-left: 0px solid transparent;
        border-bottom: var(--header-size) solid var(--background-color);
        right: calc(var(--border-size) * -1);
        bottom: 0;
    }

    .link-2[b-mv5irjltva] {
        margin-left: calc(var(--border-size) - 1px);
    }

    .collapse[b-mv5irjltva] {
        display: initial !important;
    }
}



