<h3>ArmorMusicSheet</h3>

<!-- 
    https://github.com/0xfe/vexflow/wiki/Using-EasyScore 
    https://cdn.jsdelivr.net/npm/vexflow@4.0.3/build/cjs/vexflow.js
-->

@code {
    public enum Note { A, B, C, D, E, F, G };
    public enum Scale { Major, Menor };
}
