@inherits LayoutComponentBase

<NavMenu />
<main>
    @if (@Ready)
    {
        @Body
    }
    else
    {
        <h1>Loading...</h1>
    }
</main>

<div class="page">

    

    <!--
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>-->
</div>

@code {


    [Inject]
    public Logic.Data.IRepository Repository { get; set; }
    private bool Ready { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Repository.InitAsync();
        Ready = true;
    }
}