@using BlazorPro.BlazorSize
@inherits LayoutComponentBase

<MediaQueryList>
    <NavMenu />
    @if (@Ready)
    {
        <main>@Body</main>
    }
    else
    {
        <div class="loading-container">
            <img src=@Utils.GetStaticFileUrl("images/eurovision_logo.png") />
            <div class="message">
                <p>Loading</p><span class="spinner"></span>
            </div>
        </div>
    }

    <div class="page"></div>
</MediaQueryList>

@code {

    [Inject]
    public Logic.Data.IRepository Repository { get; set; }
    private bool Ready { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Repository.InitAsync();
        Ready = true;
    }
}