@using BlazorPro.BlazorSize
@using EurovisionApp.Common.Logic.Data;
@inherits LayoutComponentBase

<MediaQueryList>
    <NavMenu />
    <main>
        @if (@Ready)
        {
            @Body
        }
        else
        {
            <div class="loading-container">
                <img src=@Utils.GetStaticFileUrl("images/eurovision_logo.png") />
                <div class="progress-container">
                    <span class="spinner"></span>
                </div>
            </div>
        }
    </main>
</MediaQueryList>

@code {

    [Inject]
    public IRepository Repository { get; set; }
    private bool Ready { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Repository.InitAsync();
        Ready = true;
    }
}