<div class="navbar">
    <div class="header">
        <div class="title">
            <img src="@Utils.GetStaticFileUrl("eurovision_logo.png")"/>
        </div>
        <div class="navbar-toggler">
            <input type="checkbox" id="navbar-toggler-input" @onchange="ToggleNavMenu">
            <label class="icon-burguer" for="navbar-toggler-input">
                <div></div>
                <div></div>
                <div></div>
            </label>
        </div>
    </div>

    <div class="@NavMenuCssClass">
        <div class="navbar-list">
            <a class="link link-1" href="senior">
                <div>Senior</div>
            </a>
            <a class="link link-2" href="junior">
                <div>Junior</div>
            </a>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
