.title {
    font-size: 1.5rem;
    margin: 20px 0;
}

.data-container {
    display: grid;
    grid-template-columns: minmax(500px, auto) auto;
    align-content: space-between;
}

.contest-data {
    background-color: #c8c7f2;
    border-radius: 20px;
    padding: 10px;
}

.data-entry {
    font-weight: bold;
}

.col-title-text {
    font-size: 1.2em;
    font-weight: bold;
}

.song {

}

.artist {
    font-size: 0.8em;
}

.place {
    font-weight: bold;
}

.flag {
    height: 1.25em;
}
