:root {
    --info-box-color: #C8C7F2AA;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font-size: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#main {
    margin: 20px;
}

main {
    margin: auto;
    max-width: 800px;
}

a.link {
    text-decoration: none;
    color: inherit;
}

.contest-data {
    background-color: var(--info-box-color);
    border-radius: 20px;
    padding: 10px;
}

.data-entry {
    font-weight: bold;
}

.hide {
    display: none !important;
}

/*----------- Podium -------------*/

.first-place {
    background-color: #FFD700C0;
}

.second-place {
    background-color: #C0C0C0C0;
}

.third-place {
    background-color: #CB6D51C0;
}

/*---------------------------------*/


@font-face {
    font-family: 'Eurovision';
    src: url('../fonts/Eurotype2016.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'Polihymnia';
    src: url('../fonts/Polihymnia.ttf') format('truetype');
}