:root {
    --info-box-color: #C8C7F2AA;
    --theme-color: darkblue;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 100%;
    min-width: 100%;
    min-height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

main {
    margin: 20px;
    
}

div#main {
    margin: auto;
    max-width: 1000px;
}

a.link {
    text-decoration: none !important;
    color: inherit;
}

a.link:hover {
    color: inherit;
}

select:hover {
    cursor: pointer;
}

.contest-data {
    background-color: var(--info-box-color);
    border-radius: 20px;
    padding: 10px;
}

.data-entry {
    font-weight: bold;
}

.hide {
    display: none !important;
}

/*-------------- Loading Screen ------------------*/

.loading-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loading-container img {
    width: 70vmin;
    filter: invert(100%);
}

.loading-container .progress-container {
    height: 20px;
}

/*---------------------------------*/



/*------------- Fonts --------------*/

@font-face {
    font-family: 'Eurovision';
    src: url('../fonts/Eurotype2016.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'Polihymnia';
    src: url('../fonts/Polihymnia.ttf') format('truetype');
}

/*---------------------------------*/